<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>meciko</string>
				<key>price</key>
				<string>5$</string>
				<key>title</key>
				<string>Burger</string>
				<key>description</key>
				<string>
Preheat the oven to 180ºC/350ºF/gas 4.Slice the lemon lengthways into quarters and place in a large roasting tin with the chicken legs, new potatoes and all of the herbs. Toss in 1 to 2 tablespoons of oil, season well and roast for 45 minutes.
Remove the tray from the oven. Carefully squeeze the roasted lemon wedges over everything, squashing down some of the potatoes so they burst – this gives you a bigger surface area so they soak up lots of flavour and get nice and crispy.
Add the olives, give everything a stir and roast for another 15 minutes, or until the chicken is cooked through and the potatoes are golden.
Remove from the oven and serve – this is delicious with a handful of watercress on the side.</string>
			</dict>
			<dict>
				<key>img</key>
				<string>veg-burger</string>
				<key>price</key>
				<string>8$</string>
				<key>title</key>
				<string>Burger</string>
				<key>description</key>
				<string>Salad sheets</string>
			</dict>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>categoryList</key>
		<array>
			<dict>
				<key>img</key>
				<string>images</string>
				<key>price</key>
				<string>10$</string>
				<key>title</key>
				<string>Fried Chicken</string>
				<key>description</key>
				<string>Chicken,Salad sheets</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
